.v_annotations {
  color: blue;
  cursor: pointer;
}
a {
}
.ProseMirror {
  outline: none;
}
.ProseMirror > p {
  padding: 10px;
}

.editorPage {
  margin-inline: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 680px) {
  .editorPage {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button:disabled {
  opacity: 0.3;
}
